
- link:
    ~/.config/hypr:
      path: hypr/*
      glob: true
      exclude: [hypr/uwsm, hypr/hypridle*.conf]
    ~/.config/uwsm:
      path: hypr/uwsm/*
      glob: true
    ~/.config/hypr/hypridle.conf:
      path: hypr/hypridle-laptop.conf
      if: '[ "$(./sys.sh power)" = "1" ]'
#    ~/.config/systemd/user/polkit-gnome.service: hypr/systemd/polkit-gnome.service

- link: 
    ~/.config/hypr/hypridle.conf:
      path: hypr/hypridle.conf
      if: '[ "$(./sys.sh power)" = "0" ]'

- shell:
  - sudo pacman -S --noconfirm --needed uwsm xdg-desktop-portal-hyprland xdg-desktop-portal-gtk qt5-wayland qt6-wayland hyprland hyprlock hypridle hyprpaper hyprpicker hyprsunset grim slurp swayosd hyprpolkitagent
  - systemctl --user enable hyprpolkitagent.service
  - systemctl --user enable hyprpaper.service
  - systemctl --user enable hypridle.service
  - systemctl --user enable hyprsunset.service
  - sudo systemctl enable swayosd-libinput-backend.service
  #-sudo pacman -S --noconfirm --needed polkit-gnome && systemctl --user enable polkit-gnome.service
