
- link:
    ~/.config/hypr:
      path: hyprland/*
      glob: true
      exclude: [hyprland/uwsm]
    ~/.config/uwsm:
      path: hyprland/uwsm/*
      glob: true
    ~/.config/systemd/user/polkit-gnome.service: hyprland/systemd/polkit-gnome.service

- shell:
  - sudo pacman -S --noconfirm --needed uwsm xdg-desktop-portal-hyprland xdg-desktop-portal-gtk qt5-wayland qt6-wayland hyprland hyprlock hypridle hyprpaper hyprpicker hyprsunset grim slurp polkit-gnome
  - systemctl --user enable polkit-gnome.service
  - systemctl --user enable hyprpaper.service
  - systemctl --user enable hypridle.service
