
- link:
    ~/.config/hypr:
      path: hypr/*
      glob: true
      exclude: [hypr/uwsm, hypr/hypridle*.conf, hypr/keybinding*.conf]
    ~/.config/uwsm:
      path: hypr/uwsm/*
      glob: true
    ~/.config/hypr/hypridle.conf:
      path: hypr/hypridle-laptop.conf
      if: '[ "$(./sys.sh power)" = "1" ]'
    ~/.config/hypr/keybindings.conf:
      path: hypr/keybindings-laptop.conf
      if: '[ "$(./sys.sh id)" = "fedora-asahi-remix" ]'
    ~/.config/systemd/user/polkit-gnome.service: hypr/systemd/polkit-gnome.service

- link: 
    ~/.config/hypr/keybindings.conf:
      path: hypr/keybindings.conf
      if: '[ "$(./sys.sh id)" != "fedora-asahi-remix" ]'

- link: 
    ~/.config/hypr/hypridle.conf:
      path: hypr/hypridle.conf
      if: '[ "$(./sys.sh power)" = "0" ]'

- shell:
  - sudo pacman -S --noconfirm --needed uwsm xdg-desktop-portal-hyprland xdg-desktop-portal-gtk qt5-wayland qt6-wayland hyprland hyprlock hypridle hyprpaper hyprpicker hyprsunset grim slurp polkit-gnome
  - systemctl --user enable polkit-gnome.service
  - systemctl --user enable hyprpaper.service
  - systemctl --user enable hypridle.service
