
- link:
    ~/.config/hypr:
      path: hyprland/*
      glob: true
      exclude: [hyprland/uwsm]
    ~/.config/uwsm:
      path: hyprland/uwsm/*
      glob: true

- shell:
  - sudo pacman -S --noconfirm --needed uwsm xdg-desktop-portal-hyprland xdg-desktop-portal-gtk qt5-wayland qt6-wayland hyprpokitagent hyprland hyprlock hypridle hyprpaper hyprpicker hyprsunset
  - systemctl --user enable hyprpolkitagent.service
  - systemctl --user enable hyprpaper.service
  - systemctl --user enable hypridle.service
