
- link: 
    ~/Library/Services/:
      path: mac/shortcuts/*
      glob: true

- shell:
    # Keyboard shortcuts
  - defaults write -g NSUserKeyEquivalents -dict-add "Find..." "^f"
  - defaults write -g NSUserKeyEquivalents -dict-add "Lock Screen" "@~^å"
  - defaults write -g NSUserKeyEquivalents -dict-add "Open Finder" "@~^f"
  - defaults write com.apple.finder NSUserKeyEquivalents -dict-add "Close Window" "@q" # since quit finder isn't an option
  - defaults write com.google.Chrome NSUserKeyEquivalents -dict-add "Close Tab" "^w"
  - defaults write com.google.Chrome NSUserKeyEquivalents -dict-add "New Tab" "^t"


    # ID 28: Screenshot whole screen → file
  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 28 \
  '{ enabled = 1; value = { parameters = (115, 1, 1835008); type = standard; }; }'

    # ID 29: Screenshot selected area → file
  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 29 \
  '{ enabled = 1; value = { parameters = (51, 20, 1179648); type = standard; }; }'

   # ID 30: Screenshot whole screen → clipboard
  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 30 \
  '{ enabled = 1; value = { parameters = (115, 1, 1966080); type = standard; }; }'

   # ID 31: Screenshot selected area → clipboard
  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 31 \
  '{ enabled = 1; value = { parameters = (52, 21, 1179648); type = standard; }; }'

  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 118 \
  '{ enabled = 1; value = { parameters = (49, 18, 1835008); type = standard; }; }'

  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 119 \
  '{ enabled = 1; value = { parameters = (50, 19, 1835008); type = standard; }; }'

  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 120 \
  '{ enabled = 1; value = { parameters = (51, 20, 1835008); type = standard; }; }'

  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 121 \
  '{ enabled = 1; value = { parameters = (52, 21, 1835008); type = standard; }; }'

  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 122 \
  '{ enabled = 1; value = { parameters = (53, 23, 1835008); type = standard; }; }'

  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 123 \
  '{ enabled = 1; value = { parameters = (54, 22, 1835008); type = standard; }; }'

  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 124 \
  '{ enabled = 1; value = { parameters = (55, 26, 1835008); type = standard; }; }'

  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 125 \
  '{ enabled = 1; value = { parameters = (56, 28, 1835008); type = standard; }; }'

  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 126 \
  '{ enabled = 1; value = { parameters = (57, 25, 1835008); type = standard; }; }'

  - defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 127 \
  '{ enabled = 1; value = { parameters = (48, 29, 1835008); type = standard; }; }'

    # Fix dock
  - defaults write com.apple.dock persistent-apps -array # no pinned apps
  - defaults write com.apple.dock show-recents -bool false # no recents
  - defaults write com.apple.dock persistent-others -array # no Downloads shorcut
  - defaults write com.apple.dock minimize-to-application -bool false # no app windows
  - defaults write com.apple.dock autohide -bool true # autohide
  - defaults write com.apple.dock tilesize -int 1 # set to minimum size
  - defaults write com.apple.dock autohide-delay -float 1000 # set delay to ~16 min :)
  - defaults write com.apple.dock no-bouncing -bool true # stop bouncing!

    # Top left hot corner = start screen saver
  - defaults write com.apple.dock wvous-tl-corner -int 5
  - defaults write com.apple.dock wvous-tl-modifier -int 0

    # Trackpad
  - defaults write -g com.apple.swipescrolldirection -bool false # disable natural scrolling
  - defaults write com.apple.AppleMultitouchTrackpad Clicking -int 1 # tap to click

    # Display and screensaver
  - defaults -currentHost write com.apple.screensaver idleTime -int 300 # show screensaver after 5 min
  - sudo pmset displaysleep 10 # turn off display after 10 min
  - defaults -currentHost write com.apple.screensaver showClock -bool true # clock on screensaver
  - sudo defaults write /Library/Preferences/com.apple.loginwindow UsesLargeDateTime -bool true # clock on lock screen

    # Remove widgets
  - rm -f ~/Library/Containers/com.apple.notificationcenterui/Data/Library/Preferences/com.apple.notificationcenterui.plist
  - cp -r mac/misc/widgets.plist ~/Library/Containers/com.apple.notificationcenterui/Data/Library/Preferences/com.apple.notificationcenterui.plist

    # Wallpaper
  - cp ~/dev/wallpapers/misc/japanese-house.png ~/Library/DesktopPictures/Custom/custom.png
  - osascript -e 'tell application "System Events" to set picture of every desktop to "/Library/DesktopPictures/Custom/japanese-house.png"'
    
    # Fix Finder
  - defaults write com.apple.finder ShowPathbar -bool true
  - defaults write com.apple.finder ShowStatusBar -bool true
  - defaults write com.apple.finder "FXRemoveOldTrashItems" -bool "true"
  - defaults write NSGlobalDomain AppleShowAllExtensions -bool true
  - defaults write com.apple.finder NewWindowTargetPath -string "PfHm"
  - defaults write com.apple.finder FXEnableExtensionChangeWarning -bool false
  - defaults write com.apple.finder ShowRecentTags -bool false
  - chflags hidden /Users/dominic/Pictures /Users/dominic/Documents /Users/dominic/Music /Users/dominic/Movies /Users/dominic/Desktop
  - defaults write com.apple.finder "FXPreferredViewStyle" -string "icnv"
  - /usr/libexec/PlistBuddy -c "Set :StandardViewSettings:IconViewSettings:arrangeBy kind" ~/Library/Preferences/com.apple.finder.plist
#  - fd --hidden '^\.DS_Store$' ~ -x rm

    # Misc
  - defaults write ~/Library/Preferences/ByHost/com.apple.controlcenter.plist Bluetooth -int 18 # bluetooth in menu bar, to remove do -int 24
  - defaults write NSGlobalDomain NSDocumentSaveNewDocumentsToCloud -bool false # save to disk (not iCloud) by default
  - defaults write NSGlobalDomain KeyRepeat -int 2 # increase key repeat
  - defaults write com.apple.dock mru-spaces -bool false # no rearranging Spaces
  - defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool true # no .DS_Store files on network volumes
  - defaults write com.apple.desktopservices DSDontWriteUSBStores -bool true # no .DS_Store files on usb drives
  - defaults write com.apple.Spotlight MenuItemHidden -bool true # no spotlight icon in menu bar
  - mkdir -p ~/Downloads/Screenshots && defaults write com.apple.screencapture location ~/Downloads/Screenshots
  - defaults write com.apple.universalaccess reduceMotion -bool true # reduce animations
  - defaults -currentHost write com.apple.controlcenter.plist BatteryShowPercentage -bool true # battery percent in menu bar
  - touch ~/.hushlogin # remove last login message from terminal windows

   # Restart stuff
  - killall Dock
  - killall SystemUIServer
  - killall NotificationCenter


# Possible problems
# Git popup for creds
# Changing hostname
#
# Todo
# Open application rather than switching
# Finish applying shortcuts
