
- link: 
    ~/Library/Services/:
      path: mac/shortcuts/*
      glob: true

- shell:
    # Fix dock
  - defaults write com.apple.dock persistent-apps -array # no pinned apps
  - defaults write com.apple.dock show-recents -bool false # no recents
  - defaults write com.apple.dock persistent-others -array # no Downloads shorcut
  - defaults write com.apple.dock minimize-to-application -bool false # no app windows
  - defaults write com.apple.dock autohide -bool true # autohide
  - defaults write com.apple.dock tilesize -int 1 # set to minimum size
  - defaults write com.apple.dock autohide-delay -float 1000 # set delay to ~16 min :)
  - defaults write com.apple.dock no-bouncing -bool true # stop bouncing!

    # Top left hot corner = start screen saver
  - defaults write com.apple.dock wvous-tl-corner -int 5
  - defaults write com.apple.dock wvous-tl-modifier -int 0

    # Trackpad
  - defaults write -g com.apple.swipescrolldirection -bool false # disable natural scrolling
  - defaults write com.apple.AppleMultitouchTrackpad Clicking -int 1 # tap to click

    # Display and screensaver
  - defaults -currentHost write com.apple.screensaver idleTime -int 300 # show screensaver after 5 min
  - sudo pmset displaysleep 10 # turn off display after 10 min
  - defaults -currentHost write com.apple.screensaver showClock -bool true # clock on screensaver
  - sudo defaults write /Library/Preferences/com.apple.loginwindow UsesLargeDateTime -bool true # clock on lock screen

    # Remove widgets
  - rm -f ~/Library/Containers/com.apple.notificationcenterui/Data/Library/Preferences/com.apple.notificationcenterui.plist
  - cp -r mac/misc/widgets.plist ~/Library/Containers/com.apple.notificationcenterui/Data/Library/Preferences/com.apple.notificationcenterui.plist

    # Wallpaper
  - cp ~/dev/wallpapers/misc/japanese-house.png ~/Library/DesktopPictures/Custom/custom.png
  - osascript -e 'tell application "System Events" to set picture of every desktop to "/Library/DesktopPictures/Custom/japanese-house.png"'
    
    # Fix Finder
  - defaults write com.apple.finder ShowPathbar -bool true
  - defaults write com.apple.finder ShowStatusBar -bool true
  - defaults write com.apple.finder "FXRemoveOldTrashItems" -bool "true"
  - defaults write NSGlobalDomain AppleShowAllExtensions -bool true
  - defaults write com.apple.finder NewWindowTargetPath -string "PfHm"
  - defaults write com.apple.finder FXEnableExtensionChangeWarning -bool false
  - defaults write com.apple.finder ShowRecentTags -bool false
  - chflags hidden /Users/dominic/Pictures /Users/dominic/Documents /Users/dominic/Music /Users/dominic/Movies /Users/dominic/Desktop
  - defaults write com.apple.finder "FXPreferredViewStyle" -string "icnv"
  - /usr/libexec/PlistBuddy -c "Set :StandardViewSettings:IconViewSettings:arrangeBy kind" ~/Library/Preferences/com.apple.finder.plist

    # Misc
  - defaults write ~/Library/Preferences/ByHost/com.apple.controlcenter.plist Bluetooth -int 18 # bluetooth in menu bar, to remove do -int 24
  - defaults write NSGlobalDomain NSDocumentSaveNewDocumentsToCloud -bool false # save to disk (not iCloud) by default
  - defaults write NSGlobalDomain KeyRepeat -int 2 # increase key repeat
  - defaults write com.apple.dock mru-spaces -bool false # no rearranging Spaces
  - defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool true # no .DS_Store files on network volumes
  - defaults write com.apple.desktopservices DSDontWriteUSBStores -bool true # no .DS_Store files on usb drives
  - defaults write com.apple.Spotlight MenuItemHidden -bool true # no spotlight icon in menu bar
  - mkdir -p ~/Downloads/Screenshots && defaults write com.apple.screencapture location ~/Downloads/Screenshots
  - defaults write com.apple.universalaccess reduceMotion -bool true # reduce animations
  - defaults -currentHost write com.apple.controlcenter.plist BatteryShowPercentage -bool true # battery percent in menu bar
  - touch ~/.hushlogin # remove last login message from terminal windows

   # Restart stuff
  - killall Dock
  - killall SystemUIServer
  - killall NotificationCenter

#fd --hidden '^\.DS_Store$' ~ -x rm

  # Open application, no switching (current workaroudn requires permission from each app)
  # Apply keyboard shortcuts via terminal (screenshots, mission control, app shortcuts, etc)
  #
# Possible problems
# Git popup for creds
# Changing hostname
