
- shell:
  - mkdir -p ~/dev/projects
  - mkdir -p ~/dev/external
    # Git repos
  - if [ ! -d "$HOME/dev/wallpapers" ]; then git clone git@github.com:dommcdev/wallpapers.git $HOME/dev/wallpapers; fi
  - if [ ! -d "$HOME/dev/courses" ]; then git clone git@github.com:dommcdev/courses.git $HOME/dev/courses; fi

    # Gemini and Opencode CLIs
  - sudo pacman -S --noconfirm --needed nodejs npm
  - npm install -g @google/gemini-cli
  - npm install -g opencode-ai@latest

    # Java, Clang
  - if [ "$(uname)" = "Linux" ]; then sudo pacman -S --noconfirm --needed jdk-openjdk; else brew install java; fi



