
- shell:
  - mkdir -p ~/dev/projects
  - mkdir -p ~/dev/external
  - if [ ! -d "$HOME/dev/courses" ]; then git clone git@github.com:dommcdev/courses.git $HOME/dev/courses; fi

    #Node, java, clang 
  - |
    if [[ "$(./sys id)" == "arch" ]]; then
      sudo pacman -S --noconfirm --needed jdk-openjdk clang nodejs npm python python-pip
    elif [[ "$(./sys id)" == "ubuntu" ]]; then
      sudo apt install -y default-jdk clang nodejs npm python3 python3-dev python3-pip python3-venv
    elif [[ "$(./sys id)" == "mac" ]]; then
      brew install java clang nodejs python
    fi

    # set node prefix so global packages are installed in user-owned dir
    mkdir -p ~/.local/share/npm-global
    npm config set prefix '~/.local/share/npm-global'

    # Gemini cli
  - npm install -g @google/gemini-cli
