format = """
$hostname$directory$git_branch$git_status${custom.novenv}
$character"""

# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = false

[hostname]
ssh_only=true
format = "[$hostname](bold yellow) in "

[custom.novenv]
description = "show indicator when venv is missing"
command = """
print "no-venv"
"""
when = '''[[ -f "requirements.txt" || -f "pyproject.toml" || -f "poetry.lock" || -f "Pipfile" ]] && [[ -z "$VIRTUAL_ENV" ]]'''
format = '[$output ](red)'
