
- shell:
  # Install bun (for global packages)
  - |
    export BUN_INSTALL="$HOME/.local/share/bun"
    if [[ "$(./sys id)" == "arch" ]]; then
      sudo pacman -S --noconfirm --needed bun
    elif [[ "$(./sys id)" == "ubuntu" ]]; then
      brew install oven-sh/bun/bun
    elif [[ "$(./sys id)" == "fedora" ]]; then
      brew install oven-sh/bun/bun
    elif [[ "$(./sys id)" == "mac" ]]; then
      brew install oven-sh/bun/bun
    fi

  -
