
- link: {}

- shell:
  - |
    if [[ "$(./sys id)" == "arch" ]]; then
      sudo pacman -S --noconfirm --needed docker lazydocker
    elif [[ "$(./sys id)" == "ubuntu" ]]; then
      curl -fsSL https://get.docker.com -o /tmp/get-docker.sh
      sudo sh /tmp/get-docker.sh
      brew install lazydocker
    elif [[ "$(./sys id)" == "mac" ]]; then
      brew install docker lazydocker
    fi

  - |
    if [[ "$(./sys type)" == "Linux" ]]; then
      sudo systemctl enable --now docker
      sudo usermod -aG docker $USER
      
      # let libvirt traffic through
      sudo iptables -C DOCKER-USER -i virbr0 -j ACCEPT 2>/dev/null || \
      sudo iptables -I DOCKER-USER -i virbr0 -j ACCEPT
      sudo iptables -C DOCKER-USER -o virbr0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT 2>/dev/null || \
      sudo iptables -I DOCKER-USER -o virbr0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
    fi
