
- link: {}

- shell:
  - |
    if [[ "$(./sys id)" == "arch" ]]; then
      sudo pacman -S --noconfirm --needed docker lazydocker
    elif [[ "$(./sys id)" == "ubuntu" ]]; then
      curl -fsSL https://get.docker.com -o /tmp/get-docker.sh
      sudo sh /tmp/get-docker.sh
      brew install lazydocker
    elif [[ "$(./sys id)" == "mac" ]]; then
      brew install docker lazydocker
    fi
  - sudo systemctl enable docker
  - sudo usermod -aG docker $USER

#todo - Arch docker doesn't work
