
- link: {}

- shell:
  - |
    if [[ "$(./sys id)" == "arch" ]]; then
      echo "Install docker"
    elif [[ "$(./sys id)" == "ubuntu" ]]; then
      echo "Install docker"
    elif [[ "$(./sys id)" == "mac" ]]; then
      echo "Install docker"
    fi

#don't forget lazydocker!
