
- link: 

- shell:
  - |
    if [[ "$(./sys id)" == "arch" ]]; then
      echo "Install docker"
    elif [[ "$(./sys id)" == "ubuntu" ]]; then
      echo "Install docker"
    elif [[ "$(./sys id)" == "macos" ]]; then
      echo "Install docker"
    fi
