
- shell:
  - |
    if [[ "$(./sys id)" == "arch" ]]; then
      sudo pacman -S --noconfirm --needed tailscale
    elif [[ "$(./sys id)" == "ubuntu" ]]; then
      curl -fsSL https://tailscale.com/install.sh -o /tmp/tailscale_install.sh
      sh /tmp/tailscale_install.sh
    elif [[ "$(./sys id)" == "mac" ]]; then
      brew install --cask tailscale-app;
    fi
  - |
    if [[ "$(./sys type)" == "Linux" ]]; then
      sudo systemctl enable tailscaled
      sudo tailscale up --ssh --operator=$USER --reset
    fi


# Subnet router note: Using --accept-routes DOES NOT WORK when on the same network as the subnet router WHEN that subnet router is off. Turn on/off with tailscale set --accept-routes=[true|false]
