
- link:
    ~/.config/zsh/.zshrc: zsh/zshrc
    ~/.config/zsh/.zprofile:
      path: zsh/zprofile-mac
      if: '[[ "$(./sys type)" = "Darwin" ]]'
    ~/.zshenv: zsh/zshenv

- shell:
  - |
    if [[ "$(./sys id)" == "arch" ]]; then
      sudo pacman -S --noconfirm --needed zsh
    elif [[ "$(./sys id)" == "ubuntu" ]]; then
      sudo apt install -y zsh
    fi

  # Change shell
  - |
    CURRENT_DEFAULT=$(getent passwd "$USER" | cut -d: -f7)
    ZSH_PATH=$(which zsh)

    if [ "$CURRENT_DEFAULT" != "$ZSH_PATH" ]; then
        sudo chsh -s "$ZSH_PATH" "$USER"
    fi
