
- link:
    ~/.config/zsh/.zshrc: zsh/zshrc
    ~/.config/zsh/.zprofile:
      path: zsh/zprofile-mac
      if: '[[ "$(./sys type)" = "Darwin" ]]'
    ~/.zshenv: zsh/zshenv

- shell:
  - |
    if [[ "$(./sys id)" == "arch" ]]; then
      sudo pacman -S --noconfirm --needed zsh
    elif [[ "$(./sys id)" == "ubuntu" ]]; then
      sudo apt install -y zsh
    fi
  - if [ "$SHELL" != "$(which zsh)" ]; then chsh -s "$(which zsh)"; fi
