/* GTK NAMED COLORS ---------------- use responsibly! */
@define-color destructive_bg_color #f38ba8;
@define-color destructive_fg_color #1e1e2e;
@define-color success_bg_color #a6e3a1;
@define-color success_fg_color #1e1e2e;
@define-color warning_bg_color #f9e2af;
@define-color warning_fg_color #1e1e2e;
@define-color error_bg_color #f38ba8;
@define-color error_fg_color #1e1e2e;

@define-color accent_color #cba6f7;
@define-color accent_bg_color #cba6f7;

@define-color destructive_color oklab(from @destructive_bg_color min(l, 0.5) a b);
@define-color success_color oklab(from @success_bg_color min(l, 0.5) a b);
@define-color warning_color oklab(from @warning_bg_color min(l, 0.5) a b);
@define-color error_color oklab(from @error_bg_color min(l, 0.5) a b);

@define-color window_bg_color #1e1e2e;
@define-color window_fg_color #cdd6f4;

@define-color view_bg_color #181825;
@define-color view_fg_color #cdd6f4;

@define-color headerbar_bg_color #1e1e2e;
@define-color headerbar_fg_color #cdd6f4;
@define-color headerbar_border_color #313244;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.15);
@define-color headerbar_darker_shade_color rgba(0, 0, 0, 0.2);

@define-color sidebar_bg_color #313244;
@define-color sidebar_fg_color #cdd6f4;
@define-color sidebar_backdrop_color #313244;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.1);
@define-color sidebar_border_color #45475a;

@define-color secondary_sidebar_bg_color #45475a;
@define-color secondary_sidebar_fg_color #cdd6f4;
@define-color secondary_sidebar_backdrop_color #45475a;
@define-color secondary_sidebar_shade_color rgba(0, 0, 0, 0.1);
@define-color secondary_sidebar_border_color #585b70;

@define-color card_bg_color #313244;
@define-color card_fg_color #cdd6f4;
@define-color card_shade_color rgba(0, 0, 0, 0.1);

@define-color dialog_bg_color #1e1e2e;
@define-color dialog_fg_color #cdd6f4;

@define-color popover_bg_color #313244;
@define-color popover_fg_color #cdd6f4;
@define-color popover_shade_color rgba(0, 0, 0, 0.1);

@define-color thumbnail_bg_color #313244;
@define-color thumbnail_fg_color #cdd6f4;

@define-color shade_color rgba(0, 0, 0, 0.1);
@define-color scrollbar_outline_color #585b70;
