
- shell:
  - |
    yay -S --noconfirm --needed davfs2

    # Prepare mount point
    sudo mkdir -p /mnt/nextcloud
    sudo chown "$USER:$USER" /mnt/nextcloud

    # Setup davfs2 secrets
    if ! sudo grep -q "nextcloud" "/etc/davfs2/secrets"; then
      echo "https://nextcloud.tetra-salmon.ts.net/remote.php/dav/files/dominic/ USERNAME PASSWORD" | sudo tee -a /etc/davfs2/secrets > /dev/null
    fi

    # Stop any active mount services
    sudo systemctl stop mnt-nextcloud.automount || true
    sudo systemctl stop mnt-nextcloud.mount || true

    # Copy over systemd mount files
    sudo cp davfs2/mnt-nextcloud.mount /etc/systemd/system/mnt-nextcloud.mount
    sudo cp davfs2/mnt-nextcloud.automount /etc/systemd/system/mnt-nextcloud.automount
    sudo cp davfs2/mnt-nextcloud.timer /etc/systemd/system/mnt-nextcloud.timer

    # Enable and start automount
    sudo systemctl daemon-reload
    sudo systemctl enable --now mnt-nextcloud.automount
    sudo systemctl enable --now mnt-nextcloud.timer
