- shell:
  - |
    if ! command -v limine &>/dev/null; then
        echo "Error: Limine is not installed."
        exit 1
    fi

    sudo pacman -S --noconfirm --needed limine-mkinitcpio-hook limine-snapper-sync

    CMDLINE=""
    for conf in /boot/limine.conf /boot/EFI/limine/limine.conf; do
        if [[ -f "$conf" ]]; then
             CMDLINE=$(grep "cmdline:" "$conf" | head -1 | sed 's/.*cmdline:[[:space:]]*//')
             [[ -n "$CMDLINE" ]] && break
        fi
    done
    if [[ -z "$CMDLINE" ]]; then
        CMDLINE=$(cat /proc/cmdline | sed -E 's/(BOOT_IMAGE|initrd)=[^ ]*//g' | tr -s ' ' | sed 's/^[[:space:]]*//;s/[[:space:]]*$//')
    fi

    sudo cp limine/default.conf /etc/default/limine
    sudo sed -i "s~@@CMDLINE@@~$CMDLINE~g" /etc/default/limine
    
    sudo cp limine/limine.conf /boot/limine.conf
    sudo systemctl enable --now limine-snapper-sync.service

    sudo limine-update
    sudo limine-snapper-sync
