- shell:
  - sudo pacman -S --noconfirm --needed sddm qt6-svg qt6-declarative qt6-virtualkeyboard qt6-multimedia-ffmpeg
  - |
    THEME_DIR="/usr/share/sddm/themes/sddm-astronaut-theme"
    if [ ! -d "$THEME_DIR" ]; then
        sudo git clone -b master --depth 1 https://github.com/keyitdev/sddm-astronaut-theme.git "$THEME_DIR"
    else
        sudo git -C "$THEME_DIR" pull
    fi
    sudo cp -n "$THEME_DIR/Fonts/"* /usr/share/fonts/ 2>/dev/null || true

    sudo mkdir -p /etc/sddm.conf.d
    echo "[Theme]
    Current=sddm-astronaut-theme" | sudo tee /etc/sddm.conf.d/theme.conf
    echo "[General]
    InputMethod=qtvirtualkeyboard" | sudo tee /etc/sddm.conf.d/virtualkbd.conf

    sudo cp sddm/theme.conf "$THEME_DIR/Themes/"
    sudo sed -i 's|^ConfigFile=.*|ConfigFile=Themes/theme.conf|' "$THEME_DIR/metadata.desktop"

    ~/dev/dotfiles/setup desktop/wallpapers
    sudo cp ~/dev/wallpapers/catppuccin/deer0.png "$THEME_DIR/Backgrounds/"

  - sudo systemctl enable sddm.service
