- link:
    ~/.config/walker:
      path: walker/*
      glob: true
      exclude: [walker/calc.toml,walker/desktopapplications.toml,walker/websearch.toml]
    ~/.config/elephant/calc.toml:
      path: walker/calc.toml
    ~/.config/elephant/desktopapplications.toml:
      path: walker/desktopapplications.toml
    ~/.config/elephant/websearch.toml:
      path: walker/websearch.toml

- shell:
  - sudo pacman -S --noconfirm --needed omarchy-walker
  - elephant service enable
  - systemctl --user start elephant.service || true
