- link:
    ~/.config/walker:
      path: walker/*
      glob: true
    ~/.config/elephant:
      path: walker/elephant/*
      glob: true
    ~/.local/bin/restart-walker.sh: walker/restart-walker.sh

- shell:
  - sudo pacman -S --noconfirm --needed omarchy-walker
  - elephant service enable
  - systemctl --user start elephant.service || true
