
- shell:
  - |
    sudo pacman -S --noconfirm --needed keyd
    sudo mkdir -p /etc/keyd
    sudo cp keyd/default.conf /etc/keyd/default.conf
    sudo systemctl is-enabled keyd.service &>/dev/null && sudo keyd reload || sudo systemctl enable --now keyd.service

    # Force keyd virtual keyboard as internal so disable-touchpad-while-typing in hyprland etc works
    QUIRKS_FILE="/etc/libinput/local-overrides.quirks"
    sudo mkdir -p /etc/libinput/

    if ! grep -q "keyd" "$QUIRKS_FILE" 2>/dev/null; then
        sudo tee -a "$QUIRKS_FILE" > /dev/null <<EOF
    [Keyd Virtual Keyboard]
    MatchUdevType=keyboard
    MatchName=*keyd*keyboard*
    AttrKeyboardIntegration=internal
    EOF
    fi

# Useful commands
# libinput quirks validate --data-dir /etc/libinput
# libinput list-devices
# libinput debug-events
