
- shell:
  - sudo pacman -S --noconfirm --needed keyd
  - sudo rm -rf /etc/keyd/default.conf && sudo mkdir -p /etc/keyd
  - if [[ "$(./sys id)" == "fedora-asahi-remix" ]]; then sudo cp keyd/default-laptop.conf /etc/keyd/default.conf; else sudo cp keyd/default.conf /etc/keyd/default.conf; fi
  - sudo systemctl is-enabled keyd.service &>/dev/null && sudo keyd reload || sudo systemctl enable --now keyd.service

