[defaults]
inventory = inventory.yml
interpreter_python = auto_silent
#forward_agent = True # Might be useful at some point

# Fixes "[WARNING]: Module invocation had junk after the JSON data"
# https://github.com/ansible/ansible/issues/86122
[ssh_connection]
pipelining = True
