[defaults]
inventory = inventory.yml
interpreter_python = auto_silent
#forward_agent = True # Passes ssh env to remote host

# Suppress normal 'ok' and 'skipped' task lines from stdout
display_ok_hosts = false
display_skipped_hosts = false

# Enable logging
log_path = /var/log/ansible/ansible.log

# Fixes "[WARNING]: Module invocation had junk after the JSON data"
# https://github.com/ansible/ansible/issues/86122
[ssh_connection]
pipelining = True
