[Desktop Entry]
Version=1.0
Name=Gemini
GenericName=AI Chatbot
Comment=Chat with Gemini
Keywords=Gemini;chatGPT;AI;chatbot;Google;
StartupWMClass=Google-chrome
Exec=/usr/bin/google-chrome-stable --app="https://gemini.google.com"
StartupNotify=true
Terminal=false
Icon=google
Type=Application
Categories=Network;WebBrowser;
