[Desktop Entry]
Version=1.0
Name=Youtube
#GenericName=Youtube
Comment=Stream videos from youtube.com
Keywords=Google;YT;Watch;Video;Stream;Play;Tube;Youtube;
StartupWMClass=Google-chrome
Exec=/usr/bin/google-chrome-stable --app="https://youtube.com/playlist?list=WL"
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
