- link:
    ~/.config/walker:
      path: walker/*
      glob: true
      exclude: [walker/elephant, walker/*.sh]
    ~/.config/elephant:
      path: walker/elephant/*
      glob: true
    ~/.local/bin/walker-power.sh: walker/walker-power.sh

- shell:
  - sudo pacman -S --noconfirm --needed omarchy-walker
  - elephant service enable
  - |
    cat << 'EOF' > ~/.config/systemd/user/walker.service
    [Unit]
    Description=Walker
    Wants=elephant.service
    After=graphical-session.target elephant.service

    [Service]
    ExecStart=/usr/bin/walker --gapplication-service
    Restart=on-failure

    [Install]
    WantedBy=graphical-session.target
    EOF
  - systemctl --user daemon-reload
  - systemctl --user enable walker
  - systemctl --user restart elephant walker 2>/dev/null || true

# Put in hyprland conf
# $walker = walker --width 644 --height 400
